{% include 'employeeheader.html'%}
 <div id="myCarousel" class="carousel slide banner_main" data-ride="carousel">
       
        
         <div class="carousel-inner">
            <div class="carousel-item active">
               <img class="first-slide" src="/static/images/banner.jpg" alt="First slide" style="height: 200px">
               <div class="container">
                  <div class="carousel-caption relative">
                   
                   
                  </div>
               </div>
            </div>
        </div></div>
<center>
	<h1>View Profile</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Place</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Photo</th>
			<th>card Number</th>
			<th>Card Status</th>
		</tr>
		{% for row in data['emp']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['firstname']}}</td>
			<td>{{row['lastname']}}</td>
			<td>{{row['place']}}</td>
			<td>{{row['phone']}}</td>
			<td>{{row['email']}}</td>
			<td><img src="/{{row['photo']}}" height="100" width="100" ></td>
			
			<td>{{row['cardnumber']}}</td>
			<td>{{row['cardstatus']}}</td>
		
			
		</tr>
		{% endfor %}
	</table>
</center>
{% include 'footer.html'%}